
div{
    margin-left: 50px;
}

.btn{
    width: 20%;
    height: 20px;
    display: block;
    justify-self: center;
    margin-top: 10px;
    border-radius: 10px;
    border: black rgb(58, 140, 203);
}

.submit-btn{
    background-color: rgb(58, 140, 203);
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100px;
    margin-top: 10px;
}
.login-h1{
    color: rgb(58, 140, 203);
}

.submit-btn:hover{
      background-color: rgb(40, 55, 61);
    
}

button{
    display: block;
}
ul{
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}
li{
list-style: none;
 /* border: 5px solid rgb(58, 140, 203); */
 width: 24%;
 margin-bottom: 1em;
 height: 20vw;
}

.admin-btn{
    background-color: rgb(58, 140, 203);
    width: 80px;
    height: 30px;
    margin-bottom: 1em;
    margin-left: 1px;
    border: none;
    border-radius: 5px;
    color: white;
}

.admin-btn:hover{
    background-color: rgb(40, 55, 61);
}

img{
    width: 80%;
    height: 80%;
}